<div *ngIf="creative">
  <div class="page-link-title">
    <img src="assets/images/arrow-left.svg" alt="arrow-left" (click)="returnBack()">
    <span class="ad-item-name">{{creative.name}}</span>
  </div>
  <video controls>
    <source [src]="creative.url" type="video/webm">
  </video>
  <div>
    <span>Status</span>
    <span>s Active</span>
  </div>
  <div>
    <span>Name</span>
    <span>{{creative.name}}</span>
  </div>
  <div>
    <span>Description</span>
    <span>{{creative.description}}</span>
  </div>
  <span>Link to creative</span>
</div>
