<div class="wrapper-data">
  <div class="me-place">
    <div id="calendar" class="cal">
      <h4 class="me-place__title">Date</h4>
      <div class="me-place-datetimes">
        <mat-calendar #calendar [(selected)]="selectedDate"
                      [headerComponent]="getCustomHeader()"
                      (selectedChange)="selectDate($event)">
        </mat-calendar>
      </div>
    </div>
    <div id="timeslots" class="time">
      <h4 class="me-place__title">Available slots</h4>
      <div class="me-place-datetimes">
        <h5 class="box-title-time">{{selectedDate | formatDate}}</h5>
        <div class="scroll-container">
          <div id="am" class="am-grid">
            <h5>a.m.</h5>
            <div class="grid-time">
              <div *ngFor="let ts of timeslots.am"
                   class="timeslot"
                   [class.active]="selectedTimeslot === ts"
                   [class.timeslot.locked]="ts.locked"
                   matTooltip="Timeslot unavailable"
                   [matTooltipDisabled]="!ts.locked"
                   matTooltipPosition="above"
                   (click)="selectTimeslot(ts)">
                <span>{{ts.from_time | formatDate : 'HH12MM'}}</span>
              </div>
            </div>
          </div>
          <div id="pm" class="pm-grid">
            <h5>p.m.</h5>
            <div class="grid-time">
              <ng-container *ngFor="let ts of timeslots.pm">
                <div class="timeslot"
                     [class.active]="selectedTimeslot === ts"
                     [class.locked]="ts.locked"
                     matTooltip="Timeslot unavailable"
                     [matTooltipDisabled]="!ts.locked"
                     matTooltipPosition="above"
                     (click)="selectTimeslot(ts)">
                  <span>
                    {{ts.from_time | formatDate : 'HH12MM'}}
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="selectedTimeslot" id="creative" class="creative">
  <h5 class="creative__title">Ad creative</h5>
  <mat-form-field class="custom-form-field" appearance="outline">
    <mat-select placeholder="Select" [(value)]="selectedCreativeId" (valueChange)="showCreatingPanel()">
      <mat-option *ngFor="let c of creativesInBlockchain" [value]="c.id">{{c.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span class="mat-button create_btn create_btn__blue"
        (click)="showCreatingPanel(true)">Create new creative</span>
  <ng-container *ngIf="creating">
    <mat-form-field class="custom-form-field" appearance="outline">
      <input matInput
             type="text"
             autocomplete="off"
             placeholder="Name" [(ngModel)]="creativeName">
    </mat-form-field>
    <mat-form-field class="custom-form-field" appearance="outline">
          <textarea matInput
                    maxlength="255"
                    autocomplete="off"
                    [(ngModel)]="creativeDescription"
                    placeholder="Description"
                    [matTextareaAutosize]="true"
                    [matAutosizeMinRows]="7"></textarea>
    </mat-form-field>
    <div style="display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-between">
      <button mat-button
              class="create_btn"
              (click)="fileInput.click()">
        <mat-icon svgIcon="upload"></mat-icon>
        <span style="padding: 0 7px">Choose file</span>
      </button>
      <input type="file" (change)="fileChangeEvent($event)"
             #fileInput id="fileUpload"
             name="fileUpload" accept="video/webm, image/*" style="display: none" />
      <div *ngIf="fileError">
        <span style="color: red">{{fileError}}</span>
      </div>
      <div *ngIf="filename" style="display: flex;">
        <span class="filename-wrapper">{{filename}}</span>
        <mat-icon svgIcon="close" (click)="clearFile()"></mat-icon>
      </div>
    </div>
    <button mat-flat-button
            class="mat-primary btn-save"
            style="width: 115px"
            (click)="uploadFile()"
            [disabled]="!filename || isSaving">Save</button>
  </ng-container>

  <ng-container *ngIf="selectedCreativeId">
    <span style="margin-top: 32px; font-size: 18px; font-weight: 800;">Link to smart contract</span>
    <span style="margin-bottom: 32px; font-size: 15px; font-weight: 800; color: #3888ff">Check your link here</span>
    <button mat-flat-button class="mat-primary" style="height: 68px" (click)="pay()">Pay</button>
  </ng-container>

  <!-- button mat-button (click)="test()">test</button -->
  <!-- button mat-button (click)="mark()">mark</button -->
</div>
