.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  background: #2A2931;
  color: white;
  padding: 92px 127px 0 127px;

  &__button {
    margin: 40px 0;
    width: 196px;
    height: 62px;
  }

  &__img {
    width: 196px;
    height: 56px;
    background: #323137;
    display: flex;
    justify-content: center;
  }
}


