<div class="connect-container">
  <!--mat-icon svgIcon="close" class="connect-container__icon"
            (click)="close()"></mat-icon-->
  <span class="mat-caption" style="margin-bottom: 32px; text-align: center">The key feature of this site is that users can buy NFTs using fiat currency.</span>

  <div class="connect-container__img">
    <img src="assets/images/near.svg"/>
  </div>

  <button mat-flat-button
          class="connect-container__button mat-primary"
          (click)="connect()">Connect</button>
</div>
