<div class="page-wrapper-2">
  <div *ngIf="user" class="app-profile">
    <div>
      <div class="app-user-info">
        <img src="assets/images/profile.svg" alt="profile" height="56"/>
        <span class="mat-body-2" style="color: #636A77">{{user?.accountId}}</span>
      </div>
      <div class="app-user-menu">
        <div class="app-user-menu-item">
          <img src="assets/images/home.svg" alt="home">
          <span class="mat-body-2">Home</span>
        </div>
        <div class="app-user-menu-item">
          <img src="assets/images/my-ad.svg" alt="my-ad">
          <span class="mat-body-2">My Ad Creatives</span>
        </div>
      </div>
    </div>
    <div class="app-metaads-panel">
      <div class="app-social">
        <img src="assets/images/telegram.svg" alt="telegram">
        <img src="assets/images/discord.svg" alt="discord">
        <img src="assets/images/twitter.svg" alt="twitter">
        <img src="assets/images/facebook.svg" alt="facebook">
      </div>
      <div class="app-metaads-logout" (click)="logout()">
        <mat-icon svgIcon="logout"></mat-icon>
        <span>Logout</span>
      </div>
      <img src="assets/images/logo.svg" alt="unavailable" style="height: 38px; padding-bottom: 16px">
      <span class="mat-caption">© 2022 «Metaadd»</span>
    </div>
  </div>

  <div class="page-wrapper-1" style="width: 100%; padding: 0 160px">
    <div *ngIf="!user" class="app-toolbar">
      <img src="assets/images/logo.svg">
      <button mat-flat-button class="mat-primary" (click)="login()">Connect</button>
    </div>

    <div style="height: 100%">
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="!user" class="app-footer">
      <div class="app-social">
        <img src="assets/images/telegram-blue.svg" alt="telegram-blue"/>
        <img src="assets/images/discord-blue.svg" alt="discord-blue"/>
        <img src="assets/images/twitter-blue.svg" alt="twitter-blue"/>
        <img src="assets/images/facebook-blue.svg" alt="facebook-blue"/>
      </div>
      <span class="mat-caption">© 2022 «Metaadd»</span>
    </div>
  </div>
</div>


