<div class="page-wrapper-2">
  <div *ngIf="user"
       class="app-profile"
       [class.app-profile__minimize]="currentState !== 'full'"
       [class.app-profile__full]="currentState === 'full'">
    <div>
      <div class="app-user-info">
        <img src="assets/images/profile.svg" alt="profile" height="56"/>
        <span class="mat-body-2" style="color: #636A77">{{user}}</span>
      </div>
      <div class="app-user-menu">
        <div class="app-user-menu-item">
          <img src="assets/images/home.svg" alt="home">
          <span *ngIf="currentState === 'full'"
                class="app-user-menu-item__link">Home</span>
        </div>
        <div class="app-user-menu-item">
          <img src="assets/images/my-ad.svg" alt="my-ad">
          <span *ngIf="currentState === 'full'"
                class="app-user-menu-item__link">My Ad Creatives</span>
        </div>
        <div *ngIf="currentState === 'full'"
             class="app-user-menu-item"
             (click)="resizeProfilePanel()"
             style="cursor: pointer">
          <img src="assets/images/arrow2-left-grey.svg" alt="minimize">
          <span class="app-user-menu-item__link2">Minimize</span>
        </div>
        <div *ngIf="currentState !== 'full'"
             class="app-user-menu-item"
             (click)="resizeProfilePanel()"
             style="cursor: pointer">
          <img src="assets/images/arrow2-right-grey.svg" alt="minimize">
        </div>
      </div>
    </div>
    <div class="app-metaads-panel">
      <div class="app-metaads-logout" (click)="nearLogout()">
        <mat-icon svgIcon="logout"></mat-icon>
        <span *ngIf="currentState === 'full'">Logout</span>
      </div>
      <div [class.app-social__full]="currentState === 'full'"
           [class.app-social__minimize]="currentState !== 'full'">
        <img src="assets/images/telegram.svg" alt="telegram">
        <img src="assets/images/discord.svg" alt="discord">
        <img src="assets/images/twitter.svg" alt="twitter">
        <img src="assets/images/facebook.svg" alt="facebook">
      </div>
      <img *ngIf="currentState === 'full'"
           src="assets/images/logo-full.svg"
           alt="unavailable"
           class="app-metaads-logo"
           routerLink="/">
      <img *ngIf="currentState !== 'full'"
           src="assets/images/logo-min.svg"
           alt="unavailable"
           class="app-metaads-logo__minimize"
           routerLink="/">
    </div>
  </div>

  <div class="page-wrapper-1">
    <div *ngIf="!user" class="app-toolbar">
      <img src="assets/images/logo-full.svg">
      <button mat-flat-button class="mat-primary" (click)="nearLogin()">Connect</button>
    </div>

    <div style="height: 100%">
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="!user" class="app-footer app-social__full">
      <img src="assets/images/telegram-blue.svg" alt="telegram-blue"/>
      <img src="assets/images/discord-blue.svg" alt="discord-blue"/>
      <img src="assets/images/twitter-blue.svg" alt="twitter-blue"/>
      <img src="assets/images/facebook-blue.svg" alt="facebook-blue"/>
    </div>
  </div>
</div>
