.app-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  // max-width: 262px;
  background: #2A2931;
  // padding: 64px 40px;

  &__minimize {
    max-width: 90px;
    padding: 64px 17px;

    .app-user-menu-item {
      justify-content: center;
    }
  }

  &__full {
    max-width: 262px;
    padding: 64px 40px;
  }
}

.app-metaads-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-user-info {
  display: flex;
  flex-direction: column;
  span {
    padding-top: 16px;
    align-self: center;
  }
  padding-bottom: 40px;
}

.app-user-menu {
  display: flex;
  flex-direction: column;
}

.app-user-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 24px;
  span {
    padding-left: 10px;
  }
  &__link {
    color: #fff;
  }

  &__link2 {
    color: #636A77;
    font-size: 13px;
  }
}

.app-footer {
  height: 32px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 46px;
  width: 100%;
  max-width: 1200px;
}

.app-social {
  &__full {
    img {
      &:nth-child(even) {
        padding-right: 8px;
      }
      &:nth-child(odd) {
        padding-right: 8px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__minimize {
    display: grid;
    img {
      &:nth-child(even) {
        padding-bottom: 8px;
      }
      &:nth-child(odd) {
        padding-bottom: 8px;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.app-metaads-logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 26px 0 35px;
  cursor: pointer;
}

.app-toolbar {
  height: 52px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 64px;
  }
}

.app-metaads-logo {
  height: 38px;
  cursor: pointer;
  padding-top: 48px;

  &__minimize {
    padding-top: 96px;
  }

}
