.page-wrapper-1 {
  padding: 0;
}
.ad-profile-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 182px;
  background: #2a2931;
  padding: 64px 40px;
}

.ad-metaads-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad-metaads-social {
  img {
    height: 32px;
  }
}

.ad-user-info {
  display: flex;
  flex-direction: row;
  span {
    padding-left: 16px;
    align-self: center;
  }
  padding-bottom: 40px;
}

.ad-user-menu {
  display: flex;
  flex-direction: column;
}

.ad-user-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 24px;
  span {
    padding-left: 10px;
  }
}

.ad-item-info {
  display: flex;
  flex-direction: column;
  padding: 80px 50px 0;
  @media (max-width: 990px) {
    padding: 80px 30px 0;
  }
  @media (max-width: 990px) {
    padding: 80px 16px 0;
  }
}

.left-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @media(max-width: 1770px ) {
    flex-direction: column;
  }
}
.mat-subheading-2 {
  @media(max-width: 768px) {
    font-size: 20px;
  }
}

.ad-item-name {
  padding-left: 24px;
  text-transform: capitalize;
}

.ad-item-properties {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  @media(max-width: 1770px ) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

    li {
      margin-right: 20px;
    }
  }

  li {
    margin-bottom: 34px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #636a77;
  }
  &__value-wrapp {
    display: flex;
    align-items: center;
  }
  &__value {
    font-family: Nexa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.7px;
    color: #ffffff;
  }
  &__btn-budge {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px 3px;
    margin-left: 8px;
    background: #3888ff;
    border-radius: 4px;
    cursor: pointer;
    font-family: Nexa;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: -0.7px;
    color: #FFFFFF;

    &__selected {
      color: #3888ff;
    }
  }
}

.ad-item-content {
  // display: flex;
  // flex-direction: row;
  // padding-bottom: 48px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 30px;

  @media(max-width: 990px) {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    max-width: 484px;
    min-width: 300px;
    // object-fit: cover;
    // object-position: center;
    height: auto;
    display: block;
    margin-right: 30px;
    border-radius: 6px;

    @media(max-width: 1770px) {
      max-width: 100%;
    }
  }
}

.ad-item-signed {
  color: #3888ff;
  cursor: pointer;
}

.ad-item-unsigned {
  line-height: 30px;

  &__button {
    cursor: pointer;
    color: #3888ff;
    margin-top: 8px;
  }
}

.ad-item-add {
  // min-width: 737px;
  // max-width: 737px;
  // margin-left: 100px;
  // height: 400px;
  background: #2a2931;
  border-radius: 5px;
}

.ad-item-place-ad {
  width: 100%;
  width: 231px;
  margin-bottom: 24px;

  &__unsigned {
    background: #686868;
    color: #353535;
  }
}

.ad-place-datetimes {
  min-width: 357px;
  max-width: 357px;
  min-height: 359px;
  max-height: 359px;
  background: #2a2931;
  // overflow: auto;
}

.ad-place {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  &__title {
    padding-bottom: 16px;
  }
}
.btn-pa {
  font-family: Nexa;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
  /* identical to box height, or 20px */
  text-align: center;
  letter-spacing: -0.7px;
  /* txt / white */
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 4em;
}

.timeslot {
  width: 64px;
  height: 36px;
  border-radius: 4px;
  background: #636A77;

  &__selected {
    background: #3888ff;
  }

  &__loccked {
    background: #2A2931;
  }
}
