<div class="page-wrapper-1">
  <div *ngIf="ad" class="ad-item-info">
    <div style="padding-bottom: 40px">
      <a routerLink="/">
        <img src="assets/images/arrow-left.svg" alt="arrow-left">
      </a>
      <span class="mat-subheading-2 ad-item-name">{{ad?.spot_type}}: {{ad?.name}}</span>
    </div>
    <div class="ad-item-content">
      <img [src]="ad?.preview_url" alt="{{ad?.name}}" style="height: 400px; padding-right: 27px">
      <div class="ad-item-properties">
        <span class="mat-body-1 ad-item-properties__title">Current Price:</span>
        <div class="ad-item-properties__value">
          <span class="mat-body-2 ad-item-properties__value">{{ad?.price}}</span>
          <span class="ad-item-properties__button"
                [class.ad-item-properties__button__selected]="selectedAddInfoType === 'history'"
                (click)="selectAddInfoType('history')">history</span>
        </div>
        <span class="mat-body-1 ad-item-properties__title">Likes:</span>
        <span class="mat-body-2 ad-item-properties__value">{{ad?.likes}}</span>
        <span class="mat-body-1 ad-item-properties__title">Description:</span>
        <div class="ad-item-properties__value">
          <span class="mat-body-2">{{ad?.description}}</span>
          <span class="ad-item-properties__button"
                [class.ad-item-properties__button__selected]="selectedAddInfoType === 'desc'"
                (click)="selectAddInfoType('desc')">
            show
          </span>
        </div>
        <span class="mat-body-1 ad-item-properties__title">Users per week:</span>
        <span class="mat-body-2 ad-item-properties__value">{{ad?.usersPerWeek}}</span>
        <span class="mat-body-1 ad-item-properties__title">Total users:</span>
        <span class="mat-body-2 ad-item-properties__value">{{ad?.totalUsers}}</span>
        <span class="mat-body-1 ad-item-properties__title">Owned by:</span>
        <span class="mat-body-2 ad-item-properties__value">{{ad?.publisher_name}}</span>
      </div>
      <div class="ad-item-add">
        <app-description *ngIf="selectedAddInfoType === 'desc'"
                         [header]="'Test'"
                         [body]="'Ownership gives NFTs their value. Anything online can be copied and reproduced, but an NFT is the original version of the digital item. This is why NFTs have taken the art world by storm because it has opened an entirely new lane for fine art collecting. An NFT can be sold at any price.'">
        </app-description>
        <app-history *ngIf="selectedAddInfoType === 'history'"></app-history>
      </div>
    </div>
    <button mat-flat-button
            [class.ad-item-place-ad__unsigned]="!signed"
            class="ad-item-place-ad" [class.mat-primary]="signed"
            (click)="placeAd()">
      <span class="mat-subheading-1">Place Ad</span>
    </button>
    <span *ngIf="!signed" class="mat-body-1 ad-item-unsigned">Only authorised users can add аdvertising </span>
    <span *ngIf="!signed" class="mat-body-2 ad-item-unsigned__button" (click)="signIn()">Connect wallet</span>
  </div>
  <div id="place-ad" *ngIf="place" class="ad-place">
    <div id="calendar" style="margin-right: 24px">
      <span class="mat-body-2 ad-place__title">Date</span>
      <div class="ad-place-datetimes">
        <mat-calendar #calendar [(selected)]="selectedDate"
                      style="padding: 32px 30px"
                      [headerComponent]="getCustomHeader()"
                      (selectedChange)="selectDate($event)">
        </mat-calendar>
      </div>
    </div>
    <div id="timeslots">
      <span class="mat-body-2 ad-place__title">Available slots</span>
      <div class="ad-place-datetimes">
        <div style="padding: 40px 38px">
          <span>{{selectedDate | formatDate}}</span>
          <div id="am">
            <span>a.m.</span>
            <!--ng-container *ngFor="let ts of timeslots[0]">
              <span>{{ts.from}}</span>
            </ng-container-->
          </div>
          <div id="pm">
            <span>p.m.</span>
            <!--ng-container *ngFor="let ts of timeslots[1]">
              <span>{{ts.from}}</span>
            </ng-container-->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
