<div class="page-wrapper-1" style="p0">
  <div *ngIf="ad" class="ad-item-info">
    <div style="padding-bottom: 40px">
      <a routerLink="/">
        <img src="assets/images/arrow-left.svg" alt="arrow-left">
      </a>
      <span class="mat-subheading-2 ad-item-name">{{ad?.spot_type}}: {{ad?.name}}</span>
    </div>
<!-- start content -->
    <div class="ad-item-content">
      <!-- left-side -->
      <div class="left-item">
        <img [src]="ad?.preview_url" alt="{{ad?.name}}" >
        <ul class="ad-item-properties">
          <li>
          <div class="ad-item-properties__title">Current Price:</div>
          <div class="ad-item-properties__value-wrapp">
            <span class="ad-item-properties__value">{{ad?.price}}</span>
            <span *ngIf="signed" class="ad-item-properties__btn-budge"
                  [class.ad-item-properties__btn-budge__selected]="selectedAddInfoType === 'history'"
                  (click)="selectAddInfoType()">history
              <mat-icon svgIcon="eye" style="width: 16px; height: 16px"></mat-icon>
            </span>
          </div>
          </li>
          <li>
            <div class="ad-item-properties__title">Likes:</div>
            <div class="ad-item-properties__value">{{ad?.likes}}</div>
          </li>
          <li>
            <div class="mat-body-1 ad-item-properties__title">Users per week:</div>
            <div class="mat-body-2 ad-item-properties__value">{{ad?.usersPerWeek}}</div>
          </li>
          <li>
            <div class="mat-body-1 ad-item-properties__title">Total users:</div>
            <div class="mat-body-2 ad-item-properties__value">{{ad?.totalUsers}}</div>
          </li>
          <li>
            <div class="mat-body-1 ad-item-properties__title">Owned by:</div>
            <div class="mat-body-2 ad-item-properties__value">{{ad?.publisher_name}}</div>
          </li>
        </ul>
      </div>
      <!-- end left-side -->
      <div class="ad-item-add">
        <app-description *ngIf="selectedAddInfoType === 'desc' || selectedAddInfoType === 'both'"
                         [header]="'Description'"
                         body="{{ ad?.description }}">
        </app-description>
        <app-history *ngIf="selectedAddInfoType === 'history' || selectedAddInfoType === 'both'"></app-history>
      </div>
    </div>
    <!-- end content -->

    <button mat-flat-button
            [class.ad-item-place-ad__unsigned]="!signed"
            class="ad-item-place-ad" [class.mat-primary]="signed"
            (click)="showPlaceAd()">
      <span class="btn-pa">Place Ad</span>
    </button>
    <span *ngIf="!signed" class="mat-body-1 ad-item-unsigned">Only authorised users can add аdvertising </span>
    <span *ngIf="!signed" class="mat-body-2 ad-item-unsigned__button" (click)="signIn()">Connect wallet</span>
  </div>
  <div [hidden]="!isVisiblePlaceAd" style="padding: 0 64px">
    <div class="ad-place">
      <div id="calendar" style="margin-right: 24px">
        <span class="mat-body-2 ad-place__title">Date</span>
        <div class="ad-place-datetimes">
          <mat-calendar #calendar [(selected)]="selectedDate"
                        style="padding: 32px 30px"
                        [headerComponent]="getCustomHeader()"
                        (selectedChange)="selectDate($event)">
          </mat-calendar>
        </div>
      </div>
      <div id="timeslots">
        <span class="mat-body-2 ad-place__title">Available slots</span>
        <div class="ad-place-datetimes">
          <div style="padding: 40px 38px">
            <span>{{selectedDate | formatDate}}</span>
            <div style="overflow-y: auto; overflow-x: hidden; max-height: 265px; width: fit-content;">
              <div *ngIf="timeslots.am.length > 0" id="am" style="display: grid">
                <span style="color: #636A77; padding: 8px 0">a.m.</span>
                <div class="timeslot-list">
                  <div *ngFor="let ts of timeslots.am" class="timeslot"
                       [class.timeslot__selected]="selectedTimeslot === ts"
                       [class.timeslot__locked]="ts.locked"
                       (click)="selectTimeslot(ts)">
                    <span>{{ts.from_time | formatDate : 'HH12MM'}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="timeslots.pm.length > 0" id="pm" style="display: grid">
                <span style="color: #636A77; padding: 8px 0">p.m.</span>
                <div class="timeslot-list">
                  <div *ngFor="let ts of timeslots.pm" class="timeslot"
                       [class.timeslot__selected]="selectedTimeslot === ts"
                       [class.timeslot__locked]="ts.locked"
                       (click)="selectTimeslot(ts)">
                    <span>{{ts.from_time | formatDate : 'HH12MM'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--div id="creative" class="creative">
      <span class="mat-body-2 ad-place__title">Available slots</span>
      <mat-form-field class="custom-form-field" appearance="outline">
        <mat-select placeholder="Select">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div-->
  </div>
</div>
