<div *ngIf="playback" class="page-wrapper-1">
  <div class="page-link-title">
    <img src="assets/images/arrow-left.svg" alt="arrow-left" (click)="goToList()" style="cursor: pointer">
    <span class="me-item-name">{{playback.adspot_type_name}}: {{playback.adspot_name}}</span>
  </div>
  <div class="me-item-content">
    <div style="display: grid; grid-gap: 20px">
      <div class="pb-block">
        <div style="display: flex; justify-content: space-between; align-items: center">
          <span class="pb-block-header">About</span>
          <a *ngIf="playback.jump_url" [href]="playback.jump_url" target="_blank">Go to Ad Space</a>
        </div>
        <ul class="pb-block-items">
          <li>
            <div class="pb-block-items__title">Current price:</div>
            <div class="pb-block-items__value">{{playback.spot_price}}</div>
          </li>
          <li>
            <div class="pb-block-items__title">Likes:</div>
            <div class="pb-block-items__value">{{playback.adspot_likes}}</div>
          </li>
        </ul>
      </div>
      <div class="pb-block">
        <span class="pb-block-header">Your NFT</span>
        <ul class="pb-block-items">
          <li>
            <div class="pb-block-items__title">Status:</div>
            <div class="pb-block-items__value">{{playback.status}}</div>
          </li>
          <li>
            <div class="pb-block-items__title">Time slot:</div>
            <div class="pb-block-items__value">{{playback.from_time | formatDate : 'SIMPLE'}}</div>
          </li>
          <li>
            <div class="pb-block-items__title">Name:</div>
            <div class="pb-block-items__value">{{playback.creative_name}}</div>
          </li>
        </ul>
      </div>
    </div>
    <app-history style="width: 100%;background: #333539; border-radius: 8px" [header]="'View history'"></app-history>
  </div>
  <button mat-flat-button class="btn-pa mat-primary" (click)="showPlaceAd(playback.adspot_id)">
    Place Ad
  </button>
</div>
