@import "custom-theme";

html {
  overflow-y: scroll;
  overflow-x: auto;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}

body {
  margin: 0;
  background: #12111a;
  font-family: 'Nexa', sans-serif;
  // font-size: 16px;
  // font-weight: 400;
  color: white;
}


/* scrollbar redesign */
* {
  scrollbar-width: thin;
  // scrollbar-color: map.get($color-config, 'primary') white;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  // background: transparent;
}
*::-webkit-scrollbar-thumb {
  // background-color: #2A2931;
  border-radius: 20px;
  border: 1px solid white;
}

.page-wrapper-1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.page-wrapper-2 {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.modal-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.cdk-overlay-container {
  .connect-dialog-panel {
    overflow: auto;
    max-height: 100%;
    background: #2A2931;
  }
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 8px !important;
  background: none !important;
}

/* customize material calendar */
.mat-calendar-body {
  font-family: 'Nexa', sans-serif;
  font-size: 15px;
}

.mat-calendar-table-header {
  font-family: 'Nexa', sans-serif;
  color: #636A77;
  th {
    font-size: 15px;
  }
}

.mat-calendar-body-cell-content {
  border: none !important;
  color: white;
}

.mat-calendar-body-label {
  opacity: 0;
}

.mat-calendar-body-label[colspan="7"] {
  display: none;
}
.mat-body-2 {
  font-family: Nexa;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
}
.mat-subheading-1 {
  font-family: Nexa;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 110%;
  color: #FFFFFF;
}
