<div class="page-wrapper-1" style="p0">
  <div *ngIf="ad" class="me-item-info">
    <div class="page-link-title">
      <a routerLink="/">
        <img src="assets/images/arrow-left.svg" alt="arrow-left">
      </a>
      <span class="me-item-name">{{ad?.spot_type}}: {{ad?.name}}</span>
    </div>

    <div class="me-item-content">
      <div class="left-item">

        <img [src]="ad?.preview_thumb_url" alt="{{ad?.name}}">
        <ul class="me-item-properties">
          <li>
            <div class="me-item-properties__title">Current Price:</div>
            <div class="me-item-properties__value-wrapp">
              <span class="me-item-properties__value">{{ad?.price}}</span>
              <span class="me-item-properties__btn-budge"
                    [class.me-item-properties__btn-budge__selected]="selectedAddInfoType === 'history'"
                    (click)="selectAddInfoType()">history
                <mat-icon svgIcon="eye" style="width: 16px; height: 16px"></mat-icon>
              </span>
            </div>
          </li>
          <li>
            <div class="me-item-properties__title">Likes:</div>
            <div class="me-item-properties__value">{{ad?.likes}}</div>
          </li>
          <li>
            <div class="mat-body-1 me-item-properties__title">Users per week:</div>
            <div class="mat-body-2 me-item-properties__value">{{ad?.usersPerWeek}}</div>
          </li>
          <li>
            <div class="mat-body-1 me-item-properties__title">Total users:</div>
            <div class="mat-body-2 me-item-properties__value">{{ad?.totalUsers}}</div>
          </li>
          <li>
            <div class="mat-body-1 me-item-properties__title">Owned by:</div>
            <div class="mat-body-2 me-item-properties__value">{{ad?.publisher_name}}</div>
          </li>
        </ul>

      </div>
      <div class="right-item">
        <app-description *ngIf="selectedAddInfoType === 'desc'"
                         [header]="'Description'" body="{{ ad?.description }}" link="{{ ad?.jump_link }}">
        </app-description>
        <app-history *ngIf="selectedAddInfoType === 'history'"></app-history>
      </div>
    </div>

    <button class="btn-pa mat-primary" [class.btn-pa__unsigned]="!ad.active" [disabled]="!ad.active" (click)="showPlaceAd()">
      Place Ad
    </button>
    <!-- End Top Block -->

    <!-- START: calendar -->
    <ng-container *ngIf="isVisiblePlaceAd">
      <app-place-ad [ad]="ad" [savedPlaceAd]="savedPlaceAd" [savedPayData]="savedPayData" style="margin-top: 16px"></app-place-ad>
    </ng-container>
  </div>
</div>
